services:
  - name: bharat-product-web
    type: web
    env: docker
    dockerfilePath: ./Dockerfile
    envVars:
      - key: POSTGRES_USER
        value: postgres
      - key: POSTGRES_PASSWORD
        value: password
      - key: POSTGRES_DB
        value: bharat_products_db

      # Postgres connection
      - key: DATABASE_URL
        fromService:
          name: postgres
          type: database
          property: connectionString

      # Redis connection
      - key: REDIS_URL
        fromService:
          name: redis
          type: redis
          property: connectionString

      - key: OPENAI_API_KEY
        sync: false

# Redis service
  - name: redis
    type: redis
    plan: starter
    ipAllowList: []

# Postgres service
databases:
  - name: postgres
    plan: starter
    databaseName: bharat_products_db
